*, body {
    font-family: "hkgrotesk";
    font-weight:400;
}
@font-face {
  font-family: 'hkgrotesk-light';
  src: url("../font/hkgrotesk-light.otf") format('opentype');
}
@font-face {
  font-family: 'hkgrotesk-regular';
  src: url("../font/hkgrotesk-regular.otf") format('opentype');
}
@font-face {
  font-family: 'hkgrotesk-semibold';
  src: url("../font/hkgrotesk-semibold.otf") format('opentype');
}

@font-face {
  font-family: 'hkgrotesk-bold';
  src: url("../font/hkgrotesk-bold.otf") format('opentype');
}
@font-face {
  font-family: 'hkgrotesk-black';
  src: url("../font/hkgrotesk-black.otf") format('opentype');
}
@font-face {
  font-family: 'hkgrotesk-bolditalic';
  src: url("../font/hkgrotesk-bolditalic.otf") format('opentype');
}


.container {
    max-width: 1440px;
    width: 100%;
}
@media (min-width: 2199px){
    .container{
        max-width: 1800px;
    }
} 
@media (max-width: 1699px){
    .container {
        max-width: 1400px;
    }
}
@media (max-width: 1599px){
    .container {
        max-width: 85%;
    }
}
@media (max-width: 481px){
    .container {
        max-width: 96%;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
strong {
    font-weight: bold;
}
p {
    font-size: 15px;
    color: #000022;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.5;
}
img {
    width: 100%;
    height: auto;
}
a,a:hover{
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.mt-15 {
  margin-top: 15px;
}
.trevaBanner {
  background-color:#03062F;
  padding-bottom: 80px;
  padding-top: 40px;
}

.logoWrap {
  max-width: 80px;
}

.main-menu {
  display: flex;
}

.bannerText {
  font-size: 40px;
  font-weight: 800;
  font-family:'hkgrotesk-bold';
  line-height: 53px;
  color: #fff;
  position: relative;
  padding-bottom: 55px;
}

.bannerText::after {
  display: block;
  position: absolute;
  width: 24px;
  height: 4px;
  background: #58C19C;
  content: '';
  left: 0px;
  bottom: 15px;
}

.bannersubtext {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family:'hkgrotesk-light';
  color: #fff;
  padding-top: 25px;
  padding-bottom:33px;
  opacity: 70%;
}

.signUp {
  width: 125px;
  height: 48px;
  background-color: #2783F3;
  border-radius: 2px;
  color: #fff;
  font-family: 'hkgrotesk-bold';
  font-weight: 700;
}

.signUp:hover{
  background-color:#03062F;
  border: 1px solid #2783F3; 
}

.signUp:focus {
  box-shadow: none;
}

.outerWrap {
  display: flex;
  margin-top: 60px;
}

.textSection {
  flex-basis: 60%;
  max-width: 60%;
}

.rtImage {
  flex-basis:40%;
  max-width: 40%;
}

.rtImage img {
  max-width: 490px;
}
.productDetail {
  padding: 115px 0px;
}
.proOuterWrap {
  display: flex;
}
.productGallery{
  flex-basis:50%;
  max-width: 50%;
}
.productDescr {
  flex-basis:50%;
  max-width: 50%;
}

.productDescr .productTile {
  font-family: 'hkgrotesk-bold';
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #222323;
  padding-bottom: 15px;
}

.productDescription {
  font-family: 'hkgrotesk-light';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color:#4F5659;
  padding-bottom: 30px; 
}

.revText {
  font-size: 16px;
  font-weight:400;
  line-height:24px;
  color:background: #202324;
  font-family: 'hkgrotesk-light';

}

.review {
  padding-bottom: 25px;
}

.colorVariations p{
  font-size: 12px;
  color: #939C9F;
  line-height: 19px;
  font-weight: 600;
  font-family: 'hkgrotesk-semibold';
  text-transform: uppercase;
  margin-bottom: 15px;
}

.colorGroup .btn {
  width: 124px;
  height: 60px;
  background: #fff;
  border: 1px solid #D8E0E2;
  box-sizing: border-box;
  border-radius:6px;
  color: #545C5F;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-family: 'hkgrotesk-light';
  padding: 18px 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
}

.colorGroup .btn span.clr {
  display: block;
}

.btn .newColorRibbon {
  font-size: 10px;
  line-height: 16px;
  font-family: 'hkgrotesk-light';
  background: #DE742D;
  position: absolute;
  top: 0px;
  width: 122px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #fff;
  font-weight: 400;
}
.btn.darkGrey {
  padding: 21px 15px;
}
.btn .limitedRelrase {
 background-color:#A07EDC;
}
.btn.beiuge {
  padding: 27px 15px;
}

.btn:focus {
  box-shadow: none;
}
.btn:hover {
  border: 1px solid #2783F3;
}



span {cursor:pointer; }
.minus, .plus{
      width:40px;
      height:48px;
      background:#EDF1F2;
      border-radius:4px;
      padding:8px 5px 8px 5px;
      border:1px solid #ddd;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      color: #8CA4AB;
    }
    input{
      height:34px;
      width: 40px;
      text-align: center;
      font-size: 16px;
      border:0px;
      display: inline-block;
      vertical-align: middle;
      color: #34393A;
      line-height: 24px;
      font-family: 'hkgrotesk-semibold';
      font-weight: 600;
    }

   .selectproducts {
    margin-top: 25px;
   }

    .selectproducts input {
      width: 20px;
      height: 20px;
      color: #00BA74;
      position: relative;
      top: -1px;
    }


 input[type='radio']:after {
        width: 20px;
        height: 20px;
        border-radius: 15px;
        top:0px;
        left:0px;
        position: relative;
        background-color:#fff;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid #D6DFE1;
    }


    input[type='radio']:checked:after {
        width: 12px;
        height: 12px;
        border-radius: 15px;
        top: -1px;
        left: 0px;
        position: relative;
        background-color: #00BA74;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 3px solid #00BA74;
    }
.selectproducts .buyOnce{
  font-size: 16px;
  font-family: 'hkgrotesk-semibold';
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 6px;
}

span.belowText {
  cursor: default;
  display: block;
  font-size: 13px;
  line-height: 20px;
  font-family: 'hkgrotesk-light';
  font-weight:400;
  margin-left: 32px;
  margin-bottom: 20px;
}

.TrevaPay {
  width: 65px;
  height: 16px;
  background: #B1FBE3;
  font-size: 12px;
  font-family: 'hkgrotesk-bolditalic';
  font-weight: 700;
  border-radius: 11px;
  padding: 2px 11px;

}

.TrevaPay:hover {
  background: #2783f3;
  color: #fff;
}

span.symbol svg {
  position: relative;
  left: 5px;
  top: 3px;
}

.subscribe {
  font-size: 16px;
  line-height: 22px;
  color: #202324;
  font-family: 'hkgrotesk-semibold';
  font-weight: 600;
  cursor:default;
}

.greeColor {
  color: #00BA74;
}

.bottomText {
  display: block;
  font-size: 13px;
  line-height: 20px;
  font-family: 'hkgrotesk-light';
  font-weight:400;
  color:#545C5F;
  margin-left: 30px;
  cursor: default;
}

.addtobag.btn {
  width: 522px;
  height: 72px;
  background: #00BA74;
  color: #fff;
  font-family: 'hkgrotesk-semibold';
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border: 0px;
  padding: 24px 20px;
  margin-top: 30px;
}

.addtobag.btn svg {
  left: -11px;
  top: 2px;position: relative;
}

.addtobag.btn:hover {
  background: #03062F;
}

.proDesc ul li {
  list-style: none;
}

.proDesc ul li {
  font-size: 16px;
  line-height: 24px;
  font-family: 'hkgrotesk-light';
  font-weight:400;
  padding-bottom: 10px;
  padding-left: 3px;
}
.proDesc ul li svg {
  position: relative;
  top: 4px;
  left: -5px; 
}

.proDesc ul  {
  padding-left: 0px;
  margin-top: 20px;
}

.freeDel {
  font-size: 14px;
  line-height: 24px;
  font-family: 'hkgrotesk-light';
  font-weight: 400;
  padding-left: 2px;
}

.freeDel span {
   font-size: 14px;
  line-height: 24px;
  font-family: 'hkgrotesk-semibold';
  font-weight: 600;
  text-decoration: underline;
  color: #545C5F;
  curser:default;
}

.freeDel svg {
    position: relative;
    left: -5px;
    top: 4px;

}

.item-slick.slick-slide.slick-current.slick-active {
  outline: none!important  
}

.slider-for {
  margin-bottom: 15px;
}

.slider-for img {
  width: 100%;
  min-height: 100%; 
}

.slider-nav {
  margin: auto;
}

.slider-nav .item-slick {
  max-width: 240px;
  margin-right: 15px;
  outline: none!important;
  cursor: pointer;
}

.slider-nav .item-slick img {
  max-width: 100%;
  background-size: cover;
  background-position: center; 
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 50;
  margin-top: -12px; 
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0; 
}


@media only screen and (max-width:1199px) {
  .addtobag.btn {
    width: 467px;
  }

 }

 @media only screen and (max-width:991px) {
  .addtobag.btn {
    width: 467px;
  }

  .proOuterWrap{
     display: block;
  }
  .productGallery {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .productDescr {
    flex-basis: 100%;
    max-width: 100%;
  }

  .bannerText {
    font-size: 35px;
  }

 }

 @media only screen and (max-width:767px) {
   .bannerText  {
      font-size: 30px;
      line-height: 35px;
   }
   .bannersubtext {
    font-size: 16px;
    padding-top: 13px;
   }
 }

  @media only screen and (max-width:480px) {
    .outerWrap {
      display: block;
    }
    .textSection {
      flex-basis:100%;
      max-width: 100%;
    }
    .bannerText {
      font-size: 30px;
      line-height: 40px;
    }
    .bannersubtext {
      font-size: 15px;
      padding-top: 10px;
    }

    .rtImage {
      flex-basis: 100%;
      max-width: 100%;
      margin-top: 60px
    }

    .addtobag.btn {
      width: 325px;
    }
  }